{{ define "main" }}
    <h1 id="{{ .Title }}">{{ .Title | markdownify }}</h1>

    {{ .Content }}

    <ul>
    {{ range .Data.Terms.ByCount }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a> ({{ .Count }})</li>
    {{ end }}
    </ul>

{{ end }}

{{define "aside" }}
    All the tags I've thrown at my posts here.
{{ end }}
