{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <ul>
  {{ range .Pages }}
    <li>{{ .Date.Format "02 Jan 2006" }} | <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
  </ul>
{{ end }}

