<style>
    .column {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }

    .book {
        padding: 3px;
        background-color: #2F3549;
        width: 100%;
        margin-bottom: 0px;
    }

    .review {
        font-size: smaller;
        display:none;
        background-color: #2F3549;
        padding:5px;
        line-height:1.3;
    }

    .reviewed:hover {
        .book {display: none;}
        .review {display: block;}
    }

    .book-title {
        font-weight: bold;
        width: auto;
        padding: 0px 3px 8px 5px;
    }

    .book-date {
        width: 80px;
        text-align: right;
        font-size: small;
        padding: 0px 3px 8px 3px;
    }

    .book-author {
        font-style: italic;
        font-size: small;
        padding: 0px 0px 0px 5px;
    }

    .book-rating {
        text-align: right;
        padding-right: 3px;
        font-size: medium;
    }

    .book-box {
        width: 375px;
    }

    .book:hover, .review:hover {
        background-color: #3d445a;
    }

    @media screen and (max-width: 720px) {
        .book-box {
            width: 300px;
        }
    }
    
</style>

<div style="width:100%">
    <div class="column">
        {{ .Inner }}
    </div>
</div>
