{{- $title  := .Get "title"  -}}
{{- $date   := .Get "date"   -}}
{{- $author := .Get "author" -}}
{{- $rating := .Get "rating" -}}
{{- $review := .Get "review" -}}
{{- $reviewclass := "unreviewed" -}}
{{- $revindicator := "" -}}

{{ if $review }}
    {{ $reviewclass = "reviewed" }}
    {{ $revindicator = "* "}}
{{ end }}

{{ if eq $rating "5" }}
    {{- $rating = "▓▓▓▓▓" -}}
{{ else if eq $rating "4.5" }}
    {{- $rating = "▒▓▓▓▓" -}}
{{ else if eq $rating "4" }}
    {{- $rating = "░▓▓▓▓" -}}
{{ else if eq $rating "3.5" }}
    {{- $rating = "░▒▓▓▓" -}}
{{ else if eq $rating "3" }}
    {{- $rating = "░░▓▓▓" -}}
{{ else if eq $rating "2.5" }}
    {{- $rating = "░░▒▓▓" -}}
{{ else if eq $rating "2" }}
    {{- $rating = "░░░▓▓" -}}
{{ else if eq $rating "1.5" }}
    {{- $rating = "░░░▒▓" -}}
{{ else if eq $rating "1" }}
    {{- $rating = "░░░░▓" -}}
{{ else if eq $rating "0.5" }}
    {{- $rating = "░░░░▒" -}}
{{ else if eq $rating "0" }}
    {{- $rating = "░░░░░" -}}
{{ end }}

{{- with .Parent -}}

<div class="book-box {{ $reviewclass }}">
    <div class="review">
        {{ $review }}
    </div>
    <table class="book" >
        <tbody>
            <tr>
                <td class="book-title">
                    {{ $title }}
                </td>
                <td class="book-date">
                    {{ $date }}
                </td>
            </tr>
            <tr>
                <td class="book-author">
                    {{ $author }}
                </td>
                <td class="book-rating">
                    {{ $revindicator }}{{ $rating }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{- end -}}