<style>
    .talk {
        margin: 15px;
        background-color: #2F3549;
        padding: 10px;
        width: 94%;
    }

    .talk:hover {
        background-color: #3d445a;
    }

    a {
        text-decoration: none;
    }

    table {
        width:100%;
    }

    .title {
        font-size:larger;
        font-weight: 700;
        width: 50%;
        margin-right: 10%;
        padding-bottom: 20px;
        color: #A9B1D6;
    }

    .presented {
        font-style:italic;
        text-align: right;
        width: 40%;
        font-size: smaller;
        padding-bottom: 20px;
        color: #A9B1D6;
    }

    .description {
        color: #A9B1D6;
    }
</style>

<div>
    {{ .Inner }}
</div>