{{- $title := .Get "title" -}}
{{- $presented := .Get "presented" -}}
{{- $description := .Get "description" -}}
{{- $url := .Get "url" -}}

{{- with .Parent -}}

<a href="{{ $url }}">
<div class="talk">
    <table>
        <tbody>
            <tr>
                <td class="title">
                    {{ $title }}
                </td>
                <td class="presented">
                    {{ $presented }}
                </td>
            </tr>
            <tr>
                <td class="description" colspan="2">
                    {{ $description }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</a>

{{- end -}}